'.source.ruby':
  ##
  ## RSpec Core
  ##

  # example_group
  'example_group Type':
    'prefix': 'eg'
    'body': 'example_group $1 do\n  $2\nend'
  'example_group \'string\'':
    'prefix': 'egs'
    'body': 'example_group \'$1\' do\n  $2\nend'
  'example_group Type, \'string\'':
    'prefix': 'egts'
    'body': 'example_group $1, \'$2\' do\n  $3\nend'
  # RSpec.describe
  'RSpec.describe Type':
    'prefix': 'rdesc'
    'body': '${1:RSpec.}describe $2 do\n  $3\nend'
  'RSpec.describe \'string\'':
    'prefix': 'rdescs'
    'body': '${1:RSpec.}describe \'$2\' do\n  $3\nend'
  'RSpec.describe Type, \'string\'':
    'prefix': 'rdescts'
    'body': '${1:RSpec.}describe $2, \'$3\' do\n  $4\nend'
  # describe
  'describe Type':
    'prefix': 'desc'
    'body': 'describe $1 do\n  $2\nend'
  'describe \'string\'':
    'prefix': 'descs'
    'body': 'describe \'$1\' do\n  $2\nend'
  'describe Type, \'string\'':
    'prefix': 'descts'
    'body': 'describe $1, \'$2\' do\n  $3\nend'
  # context
  'context Type':
    'prefix': 'con'
    'body': 'context $1 do\n  $2\nend'
  'context \'string\'':
    'prefix': 'conts'
    'body': 'context \'$1\' do\n  $2\nend'
  'context Type, \'string\'':
    'prefix': 'contts'
    'body': 'context $1, \'$2\' do\n  $3\nend'
  # xdescribe
  'xdescribe Type':
    'prefix': 'xdes'
    'body': 'xdescribe $1 do\n  $2\nend'
  'xdescribe \'string\'':
    'prefix': 'xdess'
    'body': 'xdescribe \'$1\' do\n  $2\nend'
  'xdescribe Type, \'string\'':
    'prefix': 'xdests'
    'body': 'xdescribe $1, \'$2\' do\n  $3\nend'
  # xcontext
  'xcontext Type':
    'prefix': 'xcon'
    'body': 'xcontext $1 do\n  $2\nend'
  'xcontext \'string\'':
    'prefix': 'xcons'
    'body': 'xcontext \'$1\' do\n  $2\nend'
  'xcontext Type, \'string\'':
    'prefix': 'xconts'
    'body': 'xcontext $1, \'$2\' do\n  $3\nend'
  # fdescribe
  'fdescribe Type':
    'prefix': 'fdes'
    'body': 'fdescribe $1 do\n  $2\nend'
  'fdescribe \'string\'':
    'prefix': 'fdess'
    'body': 'fdescribe \'$1\' do\n  $2\nend'
  'fdescribe Type, \'string\'':
    'prefix': 'fdests'
    'body': 'fdescribe $1, \'$2\' do\n  $3\nend'
  # fcontext
  'fcontext Type':
    'prefix': 'fcon'
    'body': 'fcontext $1 do\n  $2\nend'
  'fcontext \'string\'':
    'prefix': 'fcons'
    'body': 'fcontext \'$1\' do\n  $2\nend'
  'fcontext Type, \'string\'':
    'prefix': 'fconts'
    'body': 'fcontext $1, \'$2\' do\n  $3\nend'
  # it
  'it \'does something\'':
    'prefix': 'it'
    'body': 'it \'${1:does something}\'${2: do\n  $3\nend}'
  # Shared examples
  'include_examples \'name\' # current context':
    'prefix': 'ince'
    'body': 'include_examples \'$1\'${2:, ${3:parameters}}'
  'it_behaves_like \'name\' # nested context':
    'prefix': 'ibl'
    'body': 'it_behaves_like \'$1\'${2:, ${3:parameters}}'
  'it_should_behave_like \'name\' # nested context':
    'prefix': 'isbl'
    'body': 'it_should_behave_like \'$1\'${2:, ${3:parameters}}'
  'matching :metadata # current context':
    'prefix': 'mame'
    'body': 'matching :$1'
  # Shared context
  'shared_context \'name\'':
    'prefix': 'sc'
    'body': 'shared_context \'${2:name}\'${3:, key: value} do\n  $4\nend'
  'include_context \'name\'':
    'prefix': 'incc'
    'body': 'include_context \'$1\'${2: do\n  ${3:# extend context}\nend}'
  # Hooks
  'before(:suite|:context|:example)':
    'prefix': 'bef'
    'body': 'before(:${1:suite|context|example}) do\n  $2\nend'
  'after(:example|:context|:suite)':
    'prefix': 'aft'
    'body': 'after(:${1:example|context|suite}) do\n  $2\nend'
  'around(:example)':
    'prefix': 'aro'
    'body': 'around(:${1:example}) do |${2:example}|\n  $3\nend'
  # Subject
  'subject { }':
    'prefix': 'sub'
    'body': 'subject { $1 }'
  'subject do end':
    'prefix': 'subb'
    'body': 'subject do\n  $1\nend'
  'subject! { }':
    'prefix': 'sub!'
    'body': 'subject! { $1 }'
  'subject! do end':
    'prefix': 'subb!'
    'body': 'subject! do\n  $1\nend'
  'subject(:name) { }':
    'prefix': 'subn'
    'body': 'subject(:${1:name}) { $2 }'
  'subject(:name) do end':
    'prefix': 'subnb'
    'body': 'subject(:${1:name}) do\n  $2\nend'
  'subject!(:name) { }':
    'prefix': 'subn!'
    'body': 'subject!(:${1:name}) { $2 }'
  'subject!(:name) do end':
    'prefix': 'subnb!'
    'body': 'subject!(:${1:name}) do\n  $2\nend'
  # One-liner syntax
  'it { is_expected.to }':
    'prefix': 'iiet'
    'body': 'it { is_expected.to ${1:expectation} }'
  'it { is_expected.not_to }':
    'prefix': 'iient'
    'body': 'it { is_expected.not_to ${1:expectation} }'
  'it { should }':
    'prefix': 'ish'
    'body': 'it { should ${1:expectation} }'
  'it { should_not }':
    'prefix': 'ishn'
    'body': 'it { should_not ${1:expectation} }'
  # Helper methods
  'let(:name) { }':
    'prefix': 'let'
    'body': 'let(:${1:name}) { $2 }'
  'let(:name) do end':
    'prefix': 'letb'
    'body': 'let(:${1:name}) do\n  $2\nend'
  'let!(:name) { }':
    'prefix': 'let!'
    'body': 'let!(:${1:name}) { $2 }'
  'let!(:name) do end':
    'prefix': 'letb!'
    'body': 'let!(:${1:name}) do\n  $2\nend'
  # Metadata
  'described_class':
    'prefix': 'dc'
    'body': 'described_class'

  ##
  ## RSpec Expectations
  ##

  'expect().to':
    'prefix': 'ex'
    'body': 'expect(${1:subject}).to ${2}'
  'expect().not_to':
    'prefix': 'exn'
    'body': 'expect(${1:subject}).not_to ${2}'
  'expect do end.to':
    'prefix': 'exb'
    'body': 'expect do\n  ${1:subject}\nend.to ${2}'
  'expect do end.not_to':
    'prefix': 'exnb'
    'body': 'expect do\n  ${1:subject}\nend.not_to ${2}'

  ##
  ## RSpec Mocks
  ##

  'allow().to receive()':
    'prefix': 'atr'
    'body': 'allow($1).to receive($2)'
  'allow().to receive_messages()':
    'prefix': 'atrm'
    'body': 'allow($1).to receive_messages($2)'
